<div class="container-fluid">
{% if startingPitcherHtml %}
<div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">The Starter</div>
    {{startingPitcherHtml|safe}}
{% endif %}
{% if bullpenSummaryHtml %}
<div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">The Bullpen</div>
    {{bullpenSummaryHtml|safe}}
{% endif %}
{% if battingSummaryHtml %}
    <div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">The Hitting</div>
    {{battingSummaryHtml|safe}}
{% endif %}
{% if managerHtml %}
  <div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">The Manager</div>
  {{managerHtml|safe}}
{% endif %}  
{% if hitters %}
<div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">Notable Hitters</div>
  {% for h in hitters %}
    {{h|safe}}
  {% endfor %}
{% endif %}
{% if pitchers %}
<div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">Notable Pitchers</div>
  {% for p in pitchers %}
    {{p|safe}}
  {% endfor %}
{% endif %}
{% if freeForm %}
  <div style="background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em">Extra Innings</div>
  {% for f in freeForm %}
    <div class="media" style="margin-bottom: 10px">
      <div class="media-left media-top" style="width:100px">
        <a href="#">
          <div style="background: black; color: white; font-size:35px; font-weight: bold; text-align: center; width: 100px;">{{loop.index}}</div>
        </a>
      </div>
      <div class="media-body">
        <p>
            {{f|safe}}
        </p>
      </div>
    </div>
  {% endfor %}   
{% endif %}  

</div>
  