<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12 col-md-2"><img style="margin: auto" class="img-responsive" src="{{personImage}}" >{% if gradeImage %} <div class="grade">{{gradeImage}}</div> {% endif %}</div>
  <div class="col-xs-12 col-md-10">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed" style="font-size: .9em;">
        <tr>
            <th>Player</th>
            <th>H-AB</th>
            <th>R</th>
            <th>RBI</th>
            <th>BB</th>
            <th>SO</th>
            <th>2B-3B-HR</th>
            <th>SB</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>Slug</th>
        </tr>
        {% for p in data %}
          <tr>
              <td>{{p.player.first_initial_and_last_name}}</td>
              <td>{{p.hits}}-{{p.at_bats}} </td>
              <td>{{p.runs}}</td>                    
              <td>{{p.runs_batted_in}} </td>
              <td>{{p.walks}}</td>
              <td>{{p.strike_outs}}</td>
              <td>{{p.doubles}}-{{p.triples}}-{{p.home_runs}}</td>
              <td>{{p.stolen_bases}}</td>
              <td>{{p.short_batting_average}}</td>
              <td>{{p.on_base_percentage}}</td>
              <td>{{p.slugging_percentage}}</td>
          </tr>
        {% endfor %}        
      </table>
    </div>
    <p>
        {{blurb|safe}}
    </p>
  </div>
</div>