<style>.mlb-reaction .section-header {background: #134A8E; color: white; padding: 10px; margin-bottom: 5px; font-weight: bold; font-size: 1.3em} .mlb-reaction .grade {background: #315233; border: 6px solid #977252; color: white; font-size:35px; font-weight: bold; text-align: center; width: 100%; margin-top: 10px} .free-form-number { border: 3px solid #808080; color: #808080; font-size:35px; font-weight: bold; text-align: center; height: 50px; width: 50px;}</style>

<div class="container-fluid mlb-reaction">
<div class="row">
  <div class="col-xs-6 col-md-offset-3 col-md-2 text-right">
    <img src="{{overview.event.away_team.logos.w72xh72}}"/>    
  </div>
  <div class="col-xs-5  col-md-2">
    <div class="row">
      <h3>{{overview.event.away_team.medium_name}}</h3>
    </div>
  </div>
  <div class="col-xs-1 col-md-5">
    <h3><strong>{{overview.away_score_runs}}</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-offset-3 col-md-2 text-right">
    <img src="{{overview.event.home_team.logos.w72xh72}}"/>    
  </div>
  <div class="col-xs-5 col-md-2">
    <div class="row">
      <h3>{{overview.event.home_team.medium_name}}</h3>
    </div>
  </div>
  <div class="col-xs-1 col-md-5">
    <h3><strong>{{overview.home_score_runs}}</strong></h3>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
        <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <tr>
        <th></th>
        {% for seg in overview.line_scores.away %}
          <th>{{seg.segment}}</th>
        {% endfor %}
        <th>R</th>
        <th>H</th>
        <th>E</th>
      </tr>
    </tr>
    <tr>
      <td>{{overview.event.away_team.medium_name}}</td>
      {% for seg in overview.line_scores.away %}
        <td>{% if seg.score is not none %} {{seg.score}} {% endif %}</td>
      {% endfor %}    
      <td><strong>{{overview.away_score_runs}}</strong></td>
      <td><strong>{{overview.away_score_hits}}</strong></td>
      <td><strong>{{overview.away_score_errors}}</strong></td>
    </tr>
    <tr>
      <td>{{overview.event.home_team.medium_name}}</td>
      {% for seg in overview.line_scores.home %}
        <td>{% if seg.score is not none %} {{seg.score}} {% endif %}</td>
      {% endfor %}  
      {% if unevenInnings %}
        <td></td>
      {% endif %}
      <td><strong>{{overview.home_score_runs}}</strong></td>
      <td><strong>{{overview.home_score_hits}}</strong></td>
      <td><strong>{{overview.home_score_errors}}</strong></td>
    </tr>
    </table></div><p class="text-center">
    {% if overview.winning_pitcher_record %}<strong>W: {{overview.winning_pitcher_record.player.first_initial_and_last_name}} {{overview.winning_pitcher_record.wins}}-{{overview.winning_pitcher_record.losses}}</strong><br/>
    {% endif %}{% if overview.losing_pitcher_record %}<strong>L: {{overview.losing_pitcher_record.player.first_initial_and_last_name}} {{overview.losing_pitcher_record.wins}}-{{overview.losing_pitcher_record.losses}}</strong><br/>{% endif %}{% if overview.saving_pitcher_record %}<strong>S: {{overview.saving_pitcher_record.player.first_initial_and_last_name}} {{overview.saving_pitcher_record.wins}}-{{overview.saving_pitcher_record.losses}}</strong>{% endif %}</p>
  </div>
</div>

{% if startingPitcherHtml %}
<div class="section-header">The Starter</div>
    {{startingPitcherHtml|safe}}
{% endif %}
{% if battingSummaryHtml %}
    <div class="section-header">The Hitting</div>
    {{battingSummaryHtml|safe}}
{% endif %}
{% if bullpenSummaryHtml %}
<div class="section-header">The Bullpen</div>
    {{bullpenSummaryHtml|safe}}
{% endif %}
{% if managerHtml %}
  <div class="section-header">The Manager</div>
  {{managerHtml|safe}}
{% endif %}  
{% if hitters %}
<div class="section-header">Notable Hitters</div>
  {% for h in hitters %}
    {{h|safe}}
  {% endfor %}
{% endif %}
{% if pitchers %}
<div class="section-header">Notable Pitchers</div>
  {% for p in pitchers %}
    {{p|safe}}
  {% endfor %}
{% endif %}
{% if freeForm %}
  <div class="section-header">Extra Innings</div>
  {% for f in freeForm %}
    <div class="media" style="margin-bottom: 10px">
      <div class="media-left media-top">
          <div class="free-form-number">{{loop.index}}</div>
      </div>
      <div class="media-body">{{f|safe}}</div>
    </div>
  {% endfor %}   
{% endif %}  

</div>
  