<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12 col-md-2"><img style="margin: auto"  class="img-responsive" src="{{personImage}}">{% if gradeImage %} <div class="grade">{{gradeImage}}</div> {% endif %}</div>
  <div class="col-xs-12 col-md-10">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed" style="font-size: .9em;">
        <tr>
            <th>Player</th>
            <th>IP</th>
            <th>R</th>
            <th>ER</th>
            <th>H</th>
            <th>BB</th>
            <th>SO</th>
            <th>PC (B-S)</th>
            <th>ERA</th>
        </tr>
        {% for p in data %}
          <tr>
              <td>{{p.player.first_initial_and_last_name}} ({{p.record}})</td>
              <td>{{p.innings_pitched}}</td>
              <td>{{p.runs}}</td>                    
              <td>{{p.earned_runs}} </td>
              <td>{{p.hits}}</td>
              <td>{{p.walks}}</td>
              <td>{{p.strike_outs}}</td>
              <td>{{p.pitch_count}} ({{p.balls}}-{{p.strikes}})</td>
              <td>{{p.earned_run_average}}</td>
          </tr>
        {% endfor %}        
      </table>
    </div>
    <p>
        {{blurb|safe}}
    </p>
  </div>
</div>