<style>.grade {background: #315233; padding: 10px; border: 3px solid #977252; color: white; font-size:35px; font-weight: bold; text-align: center; 
  margin-top: 5px} </style>
<div class="thn-reaction">
<div class="thn-reaction-header">
<table class="thn-reaction-table">
<tr>
<td><img src="{{data.overview.event.away_team.logos.w72xh72}}"></td>
<td>{{data.overview.event.away_team.medium_name}}</td>
<td class="thn-reaction-score">{{data.overview.score.away.score}}</td>
<td class="thn-reaction-final">Final<br />
 <a target="_blank" href="{{data.overview.share_url}}">Box Score</a>
</td>
<td class="thn-reaction-score">{{data.overview.score.home.score}}</td>
<td>{{data.overview.event.home_team.medium_name}}</td>
<td><img src="{{data.overview.event.home_team.logos.w72xh72}}"></td>
</tr>
</table>
</div>
<div class="thn-reaction-grades">
<table>
{% if players %}
  {% for p in players %}
    {{p|safe}}
      {% if loop.index == 3 %}
          <tr>
            <td colspan="3" style="text-align: center">
                <!-- Ezoic - Quick Reaction - In Content 1 - mid_content -->
                <div id="ezoic-pub-ad-placeholder-160"> </div>
                <!-- End Ezoic - Quick Reaction - In Content 1 - mid_content -->
            </td>
          </tr>
      {% endif %}
      {% if loop.index == 7 %}
          <tr>
            <td colspan="3" style="text-align: center">
                <!-- Ezoic - Quick Reaction - In Content 2 - mid_content -->
                <div id="ezoic-pub-ad-placeholder-161"> </div>
                <!-- End Ezoic - Quick Reaction - In Content 2 - mid_content -->
            </td>
          </tr>
      {% endif %}
  {% endfor %}
{% endif %}
{{managerHtml|safe}}
</table>
</div>


{% if freeForm %}
  <div class="thn-reaction-summary">
  <h4>Things We Saw</h4>
  <ol>
  {% for f in freeForm %}
    <li>{{f|safe}}</li>
  {% endfor %}  
  </ol>
  </div>
{% endif %}  
</div>
  